{% extends 'base.html' %}

{% block title %}User Info - {{ user.username }}{% endblock %}

{% block body_title %}{{ user.username }}{% endblock %}
{% block body_subheading %}Your Account Profile{% endblock %}

{% block content %}


<h2>Unread Messages</h2>
{% if unread_messages %}

<p class="ml-2">You have unread messages in the following conversation{{ unread_messages|pluralize }}:</p>

<ul class="unread-messages">
  {% for subject, conversation_pk in unread_messages.items %}
  <li><a href="{% url 'chat:conversation_view' conversation_pk=conversation_pk %}">{{ subject }}</a></li>
  {% endfor %}
</ul>

{% else %}
<p class="ml-2">You have no unread messages.</p>
{% endif %}

<h2 class="mt-4">Your Conversations</h2>
{% if user.conversation_set.count %}
<ul>
  {% for conversation in user.conversation_set.all %}
  <li><a href="{% url 'chat:conversation_view' conversation_pk=conversation.pk %}">{{ conversation.subject }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p class="ml-2">You have no active conversations. Would you like to <a href="{% url 'chat:conversation_create' %}">start a new one</a>?
{% endif %}

<h2 class="mt-4">Account Settings</h2>

<ul>
  <li><a href="{% url 'users:user_update_timezone' %}">Change your timezone</a> (Current: <strong>{{ user.profile.timezone }})</li>
</ul>

{% endblock content %}
