{% load static %}<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner v3.6.0</title>

  <link rel="shortcut icon" type="image/png" href="{% static 'jasmine/lib/jasmine-3.6.0/jasmine_favicon.png' %}">
  <link rel="stylesheet" href="{% static 'jasmine/lib/jasmine-3.6.0/jasmine.css' %}">

  <script src="{% static 'jasmine/lib/jasmine-3.6.0/jasmine.js' %}"></script>
  <script src="{% static 'jasmine/lib/jasmine-3.6.0/jasmine-html.js' %}"></script>
  <script src="{% static 'jasmine/lib/jasmine-3.6.0/boot.js' %}"></script>

  <!-- stylesheets -->
  <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" -->

  <!-- scripts -->

  <!-- include source files here... -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  

  <!-- include spec files here... -->


  </head>
  <body>

    <h1 id="title-text">Vue Sandbox</h1>

    <div id="app">

      {{ myVar }}
       
    </div>

    <script src="{% static 'jasmine/del/boilerplate_vue.js' %}"></script>
    <script src="{% static 'jasmine/spec/HelloWorld.js' %}"></script>

</body>
</html>
